{% extends "layout.html"%}
{% block content %}
<link rel = "stylesheet" href = "{{ url_for('static', filename='emailform.css') }}"/>

<div class="result">
	<section class="member_checker">
            <h1>Membership Checker</h1>
                <div id="output_container">
                    <div id="email_output">
                        <p>{{ email }} is currently a HEMA Alliance member</p>
					</div>

                    <input type="submit" value="go back"> <!--go back to main page button -->
                </div>

    </section> <!-- member_checker -->

</div>

{% endblock content %}